<!-- Footer -->
    <footer class="custom-footer text-dark mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-4">
                    <h6>About Us</h6>
                    <p>We are fun of films.</p>
                </div>

                <div class="col-md-4">
                    <h6>Contact Us</h6>
                    <address>
                        Email: <a href="mailto:info@elfheroes.com" class="text-dark">info@films.com</a><br>
                        Phone: +123-456-7890
                    </address>
                </div>
            </div>

            <div class="text-center mt-3">
                &copy; 2025 Films. All Rights Reserved.
            </div>
        </div>
    </footer>